body {
    background-color: yellowgreen;
  }


  h2{
    padding-left: 600px;
    padding-right: 600px;
  }
  
  .heading {
    background-color: beige;
    margin-bottom: 20px;
    padding: 5px 0px 5px 15px;
  }
  
  .title {
    background-color: blue;
    padding: 20px;
    color: white;
  }
.navbar 
{
    background-color: blue;
    padding:20px 50px;
    color: white;
}
.navTop{
  display :flex;
  align-items: center;
  justify-content: space-between;

}

  
.sliderwrapper {
  display: flex;
  width: 500vw;


}
.sliderItem{
  width:100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buyButton {
  position: absolute;
  top:auto;
left: 10px;
font-size: 20px;
text-align: 300;
color: black;

}

  #runtime {
    background-color: #333333;
    color: #3e8fde;
    padding: 0px 0px 5px 5px;
  }
  
 
  
  #film-info {
    padding-bottom: 15px;
  }
  #search-container {
    margin-bottom: 20px;
    padding-left: 600px;
    padding-right: 600px;
}

#search-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
}

#search-button {
    padding: 10px;
    font-size: 16px;
}
#search-results-container {
  margin-top: 20px;
}

.search-result {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}